version: "3.8"
services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: scd_mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
    restart: unless-stopped
